<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Gestione Presidi ANT</title>
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/2.3.7/mini-default.min.css"
          integrity="sha512-3jRZ/RINdy5kQXlIFiRSrDNf7KVxO6f7U4OGHXOTd5J+qRoimjea7WTYTpwZloSNFLagmWu7AHsmyORSN9Y2Pw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>-->

    <link href="main.css" rel="stylesheet" />

</head>
<body>

    <div id="react"></div>

    <script src="built/bundle.js"></script>

</body>
</html>